# App
APP_URL="http://localhost:3000"
GOOGLE_SITE_VERIFICATION_ID=""

#The gist id and name of the file have info, this should be a json file and have all field in the profile.d.ts
USER_INFO_GIST_ID = ''
USER_INFO_GIST_FILENAME = ''